@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Italic.eot');
  src: url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
       url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto_slab/RobotoSlab-Regular.eot');
  src: url('../fonts/roboto_slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto_slab/RobotoSlab-Regular.woff2') format('woff2'),
       url('../fonts/roboto_slab/RobotoSlab-Regular.woff') format('woff'),
       url('../fonts/roboto_slab/RobotoSlab-Regular.ttf') format('truetype'),
       url('../fonts/roboto_slab/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
